html, body {
    height: 100%;
    background-color: #fff;
}

div[MYTP="orange"] {
    border-left-width:8px;border-left-style:solid;border-left-color:#FF7400;
}

.lcontainer{
    position:absolute;
    margin-top: 10%;
    margin-left:10%;
    margin-right:10%;
    padding: 0 !important;
    width:80%;
    z-index: 1001;
}

.container{
    position:absolute;
    margin-top: 1%;
    margin-left:5%;
    margin-right:5%;
    width:80%;
    padding: 0 !important;
    top: 100px;
    z-index: 1001;
}

.newcontainer{
    position:absolute;
    margin-top: 0;
    margin-left:0%;
    margin-right:0%;
    width:100%;
    height:100%;
    padding: 0 !important;
    top: 100px;
    z-index: 1001;
}

.createeditor-div {
    margin-top:1%;
    margin-left:3%;
    margin-right:3%;
}

.nav-sidebar {
    display: inline-block;
    width: 12%;
    height: 100%;
    padding: 0 0;
    border-right: 1px solid #ddd;
}

.create-editor-div {
    display: inline-block;
    width: 80%;
    height: 100%;
    border-right: 1px solid #ddd;
    margin-top:2px;
}

.create-tool-div {
    display: inline-block;
    width: 8%;
    height: 100%;
}

.create-tool-item {
    min-height: 70px;
    margin-top: 5px;
    border: 1px #aaa solid;
    cursor: pointer;
    text-align:center;
    border-radius:3px;
}

.create-tool-item:hover {
    background-color:#efefef;
}


.maineditor-people-icon {
    margin-top:18px;
    font-size:32px!important;
    color:#0070C0;
}

.maineditor-time-icon {
    margin-top:18px;
    font-size:32px!important;
    color:#FF0000;
}

.maineditor-proj-icon {
    margin-top:18px;
    font-size:32px!important;
    color:#00B050;
}


.maineditor-attach-icon
{
    margin-top:18px;
    font-size:32px!important;
    color:#FA9604;
}

.maineditor-video-icon{
    margin-top:18px;
    font-size:32px!important;
    color:#00B050;
}



.home-video-icon{
    /*margin-top:17px;*/
    width:80px;
    font-size:20px!important;
    color:#00B050;
}

.home-tool-item {
    position:fixed;
    top:160px;
    right:15px;
    z-index:1009;
    height: 60px;
    width:60px;
    border-radius:5px;
    margin-top: 5px;
    border: 2px #aaa solid;
    cursor: pointer;
    text-align:center;
}

.home-tool-item:hover {
    background-color:#efefef;
}

/*.home-tool-item2 {
    position:fixed;
    top:225px;
    right:15px;
    z-index:1009;
    height: 60px;
    width:60px;
    border-radius:5px;
    margin-top: 5px;
    border: 2px #aaa solid;
    cursor: pointer;
    text-align:center;
}

.home-tool-item2:hover {
    background-color:#efefef;
}*/

.home-proj-icon {
    margin-top:17px;
    font-size:24px!important;
    color:#FF7400;
}

.nav-sidebar-narrow{
    width: 3%;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .active a {
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}

.nav-sidebar .active a:hover {
    background-color: #428bca;
}

.nav-sidebar-icon{
    text-align: center; 
    background-color: #aaa;
    padding: 10px 15px;
}

.glyphicon{
    font-size: 16px;
}

.cursor-pointer{
    cursor: pointer;
}

.sidebar-show{
    transform: rotate(90deg); 
}

.sidebar-hide{
    transform: unset;
}

.item-show{
    margin-left: 5px;
}

.item-panels{
    padding-left:8px;
    padding-right:8px;
    display: inline-block;
    width: 25%;
    height: 100%;
    overflow-y: auto;
}

.item-panel-active{
    min-height: 100px;
    margin-top: 5px;
    border: 1px #337ab7 solid;
    border-left-width: 5px;
}

.item-panel-unread {
    min-height: 100px;
    margin-top: 5px;
    border: 1px #FF7400 solid;
    border-left-width: 5px;
}

.item-panel{
    min-height: 100px;
    margin-top: 5px;
    border: 1px #aaa solid;
    border-left-width: 5px;
}

.item-panel-toolbar {
    min-height: 35px;
    margin-top: 5px;
}

.toolbar-img{
    height: 20px;
    width: 20px;
    margin: 5px;
}
.search-input {
    width:85%;
    display:inline-block;
}

.search-img{
    width: 30px;
    height: 30px;
    background-color: #5C2576; 
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
    display:inline-block;
}

.search-topic{
    width:80%;
    display:inline-block;
    height:30px;
    float:right;
    text-align:right;
}

.create-topic {
    display:inline-block;
    width: 30px;
    height: 30px;
    background-color: #00539F; 
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
    float:right;
    margin-left:2px;
}
.search-keywords{
    width:100%;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: #5C2576 1px solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius:  3px;
    background-color: transparent;
}

.item-details-show{
    display: inline-block;
    width: 63%;
    height: 100%;
    padding-top: 0px;
    border-left: 1px #aaa solid;
}

.item-details-9{
    width: 72%;
}

.item-details-25{
    width: 88%;
}

.item-details-34{
    width: 97%;
}



.item-title{
    padding: 5px;
    background-color: #eee;
    border-bottom: 1px #aaa dashed;
}

.item-name{
    display: inline-block;
    width: 50%;
}

.item-op{
    display: inline-block;
    float: right;
}

.item-content{
    padding: 5px;
}

.item-date{
    display: inline-block;
    width: 50%
}

.item-progress{
    display: inline-block;
    width: 30%;
    float: right;
    height: 10px;
    margin-top: 3px;
}

.progress-bar{
    border: 1px #fff solid;
}

.progress-bar-complete {
    background-color:green;
}

.progress-bar-working {
    background-color:grey;
}

.topiclistcls {
    cursor:pointer;
}

/*.itemdetailhide {
    display:none;
}*/

.itemdetailinfo {
    margin-right:1%;
}

.topicinfo {
    margin-top:5px;
    border-left:3px solid #428bca;
    border-bottom:1px solid #efefef;
}

.topictitle {
    padding:5px;
    width:100%;
    min-height:32px;
    background:#efefef;
    font-size:20px;
}

.titlesubject {
    display:inline-block;
    padding:5px;
}

.topictitlemenu {
    float:right;
    display:inline-block;
    cursor:pointer;
}

.topiccontent {
    padding:10px!important;
}

.topicfooter {
    text-align:right;
    padding:5px;
    font-style:italic;
    font-weight:bold;
}

.itemlistswitchclose{
	position: absolute;
	right: 0px;
	top: 50%;
	background-color: grey;
	height: 40px;
	width: 15px;
	color: white;
	text-align: center;
	cursor: pointer;
	z-index: 1010;
	opacity: 0.7;
}

.itemlistswitchopen
{
	position: absolute;
	left: 0px;
	top: 50%;
	background-color: grey;
	height: 40px;
	width: 15px;
	color: white;
	text-align: center;
	cursor: pointer;
	z-index: 1010;
	opacity: 0.7;
}


.maineditor-op {
    position:absolute;
    top:10%;
    right:4%;
    padding: 5px 10px 15px 5px;
    z-index:1006;
}

.mdeditor-op {
    position:absolute;
    top:4%;
    right:15%;
    padding: 5px 10px 15px 5px;
    z-index:1006;
}


.commentinfo {
    border-left:2px solid #428bca;
    margin-top:15px;
    margin-right:1%;
}

.commentinfo:hover {
    background-color: #efefef;
    }

.commenttitle {
    padding:5px;
    font-style:italic;
    font-weight:bold;
    display:inline-block;
}

.commentop {
    float:right;
    display:inline-block;
}

.home-md-commont {
    margin-right:10px;
    cursor:pointer;
}

.commentcontent {
    padding:10px!important;
}


/* rewrite row, col-md-8, col-md-4 */
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-md-8, .col-md-4, .col-md-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* header */
.logo {
    position: absolute;
    top: 25px;
    height: 50px;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    cursor: pointer;
    z-index: 1003;
}

.logo-bak {
    position: absolute;
    margin-top: 0%;
    height: 50px;
    background-image: url(./images/logo-bak.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    cursor: pointer;
    z-index: 1003;
}



.user-info {
    float: right;
    color: #f0f0f0;
    margin-top: 30px;
    margin-right: 30px;
    font-size:20px;
    font-weight:bold;
}

.header-user {
    font-size: 18px;
    padding-right: 5px;
    color:black;
}

.logout {
    padding-left: 5px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1003;
}

.Login-Modal {
    position:absolute;
    padding:10% 20%!important;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background: rgba(255,255,255,0.8);
}

.Login-Content {
    height:300px!important;
    border: 1px solid #aaa;
    background:rgba(168,168,168,0.5);
    border-radius:5px;
}

.Login-Content {
    display:block;
}

.Login-info-1 {
    font-size:30px;
    padding:5px 15px;
}

.Login-info-2 {
    font-size:24px;
    padding:0px 15px;;
    margin-left:60px;
}

.Login-Input-Area {
    display:block;
    margin-top:10px;
}

.Login-Input {
    width:180px!important;
    display:inline-block;
    margin-left:75px;
    border-left:2px solid #FF7400;
}

.Login-Input-Fix {
    background-color:#ddd;
    border-radius:3px;
    display:inline-block;
    font-size:18px;
    padding:3px;
    margin-left:4px;
}

.Login-Input-EG {
    background-color:#ddd;
    border-radius:3px;
    display:inline-block;
    font-size:18px;
    padding:3px;
    margin-left:4px;
    color:white;
}

.Login-Submit {
    margin-top:10px;
    display:block;
    margin-left:75px;
}

/* theme setting*/
.theme-setting {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 120px;
    z-index: 1003;
}

.login-theme-setting {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 120px;
    z-index: 1003;
}

.span-theme-setting {
    cursor: pointer;
    font-size: 14px;
    color: #efefef;
    margin-right: 5%;
    text-decoration: underline;
    font-style: italic;
}

.cursor-pointer{
    cursor: pointer;
}

.br-panel {

    margin-top:15px;
    border-color: transparent !important;
    background-color: transparent !important;
}
.br-panel-title {
    color:black;
    border-color: transparent !important;
    background-color: transparent !important;
    border-left-style: solid;
    border-left-color: #FF7400 !important;
    border-left-width: 3px !important;
    font-size:24px;
}
.br-panel-heading {
    padding: 0;
    color: #FF7400 !important;
    border-color: transparent !important;
    background-color: transparent !important;
}

.chevron-down {
    color: #FF7400;
    padding: 2px 5px;
}

.con-op{
    margin-top: 2%;
}

.con-border-color {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #006DC0;
}
.ckedit-box{
    margin-top: 2%;
}

.title-box{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.a-login {
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

.right-line{
    border-right: 1px #24323B solid !important;
}


/*set event*/

#m-event{ 
    height: 35px; 
} 

.row-margin-top{ 
    margin-top: 5px; 
} 

.event-title { 
    padding: 5px; 
    background-color: #eee; 
    border-bottom: 1px #aaa dashed; 
} 

.event-no { 
    display: inline-block; 
    width: 10%; 
} 

.event-op { 
    display: inline-block; 
    float: right; 
} 

.event-content { 
    padding: 5px; 
    min-height: 60px; 
} 

.event-item { 
    padding-left: 0; 
    padding-right: 5px; 
    border-left: 2px solid #aaa; 
} 

.n-row { 
    padding: 0; 
    margin-bottom: 2px; 
} 

.event-all { 
    overflow-y: auto; 
    max-height: 400px;
} 

.m-event-edit, .m-event-del { 
    color: #337ab7; 
    cursor: pointer; 
}

.wel-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wel-bg {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}

.wel-bg-img{
    width: 100%;
}

.wel-body {
    position: absolute;
    top: 25%;
    left: 15%;
    right: 15%;
    width: 70%;
    color: #000;
}

.wel-title {
    padding-top: 5%;
    font-size: 48px;
}

.wel-subtitle {
    padding-top: 5%;
    font-size: 24px;
}

.wel-op{
    padding-top: 2%;
    width: 40%;
}

.wel-input{
    height: 35px;
    background-color: transparent;
    color: #000;
    border: #000 solid 1px;
}

.wel-eg {
    padding-top: 2%;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
}

.wel-submit{
    padding-top: 5%;
    font-size: 35px;
    width: 30%;
}

.btn-wel-submit{
    width: 100%;
}


