
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Aurora.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function(){
        Aurora.mainpageinit();
    })
</script>


<div style='height:42px;width:42px;border-radius: 5px;position:fixed;top:60px;right:120px; border: 1px solid white; border-image: none;text-align:center;cursor:pointer;' data-toggle="tooltip" data-placement="center" title="Create New Topic" onclick="createnewtopic()">
    <span class="glyphicon glyphicon-plus" style="color:white;font-size:40px;"></span>
    <script type="text/javascript">
        function createnewtopic() {
            window.location.href = '/CoWork/CreateNewTopic'
        }
    </script>
</div>
<div class="content">
    <div class="container">
        <div><h1 style="color:white;text-align:center">Topics</h1></div>
        <br>
        <div>
            <div class="col-xs-5">
                <ul class="nav nav-pills nav-stacked col-xs-3">
                    <li class="active"><a href="#tab_a" data-toggle="pill">I-Assign</a></li>
                    <li><a href="#tab_b" data-toggle="pill">I-Rlated</a></li>
                    <li><a href="#tab_c" data-toggle="pill">Complete</a></li>
                </ul>
                <div class="tab-content col-xs-9">
                    <div class="tab-pane active" id="tab_a">
                        @foreach (var item in ViewBag.iassignlist)
                        {
                            <div class="topiclistcls" topicid="@item.topicid" style="color:white;border: 1px solid white; border-image: none;cursor:pointer">
                                <div class="row">
                                    <div class="col-xs-6">@item.creator</div>
                                    <div class="col-xs-6">@item.duedate</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6"></div>
                                    <div class="col-xs-6">
                                        <div class="progress" style="height:8px;max-height:8px;width:60px;margin-bottom:0px;">
                                            <div class="progress-bar progress-bar-success" style="width: 20%;border: 1px solid white; border-image: none;">
                                            </div>
                                            <div class="progress-bar progress-bar-success" style="width: 20%;border: 1px solid white; border-image: none;">
                                            </div>
                                            <div class="progress-bar" style="width: 20%;border: 1px solid white; border-image: none;background-color:grey">
                                            </div>
                                            <div class="progress-bar" style="width: 20%;border: 1px solid white; border-image: none;background-color:grey">
                                            </div>
                                            <div class="progress-bar" style="width: 20%;border: 1px solid white; border-image: none;background-color:grey">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                    @item.subject
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-pane" id="tab_b">
                    </div>
                    <div class="tab-pane" id="tab_c">
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div id="TopicDetailContainer">

                </div>
            </div>
        </div>
    </div>
</div>

