
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Login-Modal">
    <div class="Login-Content">
        <div class="Login-Label">
            <div class="Login-info-1">Welcome to Aurora system</div>
            <div class="Login-info-2">To serve you better, Would you mind to input your email address?</div>
        </div>
        <div class="Login-Input-Area">
            <input class="form-control Login-Input" id="username" name="username">
            <span class="Login-Input-Fix">@@finisar.com</span>
            <span class="Login-Input-EG">EG: Brad.Qiu@finisar.com</span>
        </div>
        <div class="Login-Submit">
            <input class="btn btn-success" type="button" value="Submit" onclick="UpdateUserName()" />
        </div>
    </div>
    <script type="text/javascript">
            function UpdateUserName()
            {
                var username = $('.Login-Input').val();
                if (username)
                {
                    $.post('/CoWork/UpdateMachineUserName',
                    {
                        username: username
                    },
                    function (output) {
                        window.location.href = '/Cowork/Home';
                    });
                }
                return false;
            }
    </script>
</div>


